*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --titulo: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(255,255,255,1) 50%, rgba(25,25,25,1) 100%);
    --otro: linear-gradient(90deg, black 0%, blue 15%, purple 50%, blue 85%, black 100%);
    
}

html{
    font-size: 62.5%;
    color: white;
}

body{
    /*background-color: black;*/
    background-color: black;
}

header{
    margin: auto;
    text-align: center;
}

header #header__h1{
    font-size: 5rem;
    margin: 2.4rem;
    background:var(--titulo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

main section{
    margin: 8rem auto;
    justify-content: center;
    display: flex;
}

main .Entrada span{
    width: auto;
    margin: auto 1rem;
    white-space: nowrap;
}

main .main__inputs input[type="radio"]{
    width: auto;
    outline: none;
    background-color: aqua;
    display: none;
}


main .main__inputs label{
    font-size: 2.4rem;
    margin: auto 1.2rem;
    display:none;
}

main .main__input input{
    width: 90vw;
    height: 3rem;
    border-radius: 5rem;
    padding: 1.5rem;
}

main .main__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .main__buttons button{
    width: 10.7rem;
    height: 3.6rem;
    color: black;
    font-size: 1.2rem;
    border-radius: 50px;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer span p{
    font-size: 2rem;
}

footer span{
    margin: 2rem auto;
}

/*footer .border{
    width: 13rem;
    height: 13rem;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
    background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
    position: absolute;
    border-radius: 100%;
}*/

footer .footer__logo{
    width: 10rem;
    height: 10rem;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: outset 16px solid ;
    border-color: linear-gradient(30deg, red , yellow);
    border-radius: 100%;
    background-color: gainsboro;
    box-shadow: inset 10px 10px red, inset 1px 10px blue, outset 1px 1px yellow, inset 1px 8px blue,inset 1px 7px red, inset 1px 6px blue;
}

footer .footer__logo p{
	font-size: 5rem;
}

footer .footer__creador{
	display: flex;
	align-text: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}


footer .footer__creador p{
    color: white;
    font-size: 1.4rem;
    display: inline-block;
    background: #F0f0f0;
    margin: auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .footer__version p{
	font-size: 1.2rem;
	font-style: italic;
	font-family: courier ;
	background:var(--titulo);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}