/*Globales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Colores fondos*/
    --fondo-principal: #262626;
    --cajas: #1C1C1A;
    --sombra1: #a9a9a9;
    --sombra2: #1C1C1A;
    --contenedor-fantasma: transparent;
    --type-work-bg: #f3f4f6;
    --skills-bg: #111827cc;
    /*Colores Textos*/
    --texto-contenidos: #6b7280;
    --Texto-enfocado: #ffffff;
    --texto-desenfocado: #a9a9a9;
}


html{
    font-size: 62.5%;
}

.container{
    max-width: 600px!important;
}

body{
    background-color: var(--fondo-principal);
    font-size: 14px!important;
    padding: 20px;
    text-align: justify!important;
    color: var(--texto-contenidos)!important;
    font-family: "Courier Prime", monospace!important;
}

header{
    margin: 30px auto;
}

header p{
    display: inline-block;
}

.location a{
    color: var(--texto-contenidos)!important;
    text-decoration: none;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.5s;
}

.location a:hover{
    text-decoration: underline;
    opacity: 1;
    /* background-color: black; */
}

section{
    margin: 0 0 2em 0;
}

.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logos-contacto a{
    color: transparent;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: #e5e7eb solid 1px;
    border-radius: 0.5rem;
    text-align: center;
    opacity: 0.5;
}

.logos-contacto a:hover{
    opacity: 1;
    transition: opacity 0.5s, border 0.5s;
    border: #000 solid 1px;
}

.logos-contacto svg{
    max-width: 16px;
    max-height: 100%;
    box-shadow: 0px 24px 32px -8px #00000014;
}

.section-img-perfil{
    margin-left: 0.5em;
}

#img-perfil{
    max-width: 112px;
    border-radius: 5px;
    box-shadow: 0px 24px 32px -8px #00000014;
}

h1{
    font-size: 24px!important;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: #000!important;
}

.resumen-work-exp, .resumen-education{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px!important;
}

.resumen-work-exp span, .resumen-education span{
    font-size: 15px!important;
    padding: 0.2em;
    border-radius: 0.5em;
    border: none;
}

.type-work{
    background-color: var(--type-work-bg);
}

ul{
    padding: 0!important;
}

li{
    list-style: none;
}

.skills li{
    background-color: var(--skills-bg);
    color: white;
    padding: 2px 8px;
    border-radius: 0.5rem;
    display: inline-block;
}

.skills li:hover{
    opacity: 0.6;
    cursor:alias ;
}

.proyectos-section .resumen-proyecto{
    border: #e5e7eb solid 1px;
    /* display: inline-block; */
    padding: 1em;
    margin: 1em;
    /* max-width: 50%; */
    /* background-color: red; */
}

.proyectos-section a{
    color: #000;
    text-decoration: none;
}

.proyectos-section a:hover{
    text-decoration: underline;
}

footer{
    font-size: 10px;
    text-align: center;
}

footer a{
    color: var(--texto-contenidos);
}

footer span{
    text-decoration: underline;
}