:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #dfe9f3;
}

*, *:before, *:after {
    box-sizing: inherit;
  }  

/*Globales*/

html{
    font-size: 62.5%;;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%);
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    border-radius: 0.5rem;
    padding: 5rem 1rem;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    text-align: center;
}

.boton{
    color: var(--blanco);
    background-color: var(--secundario);
    font-size: 2rem;
    padding: 1rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 769px) {
    .boton{
        width: auto;
    }
}

/*Globales-fin*/

/*Titulos-inicio*/
.titulo span{
    font-size: 2rem;
}

/*Titulos-fin*/

/*Navegacion principal*/
.nav-bg{
    background-color: var(--secundario);
}

.contenedor{
    max-width: 90vw;
    margin: 0 auto;
}

.navegacion-principal{
    display: flex;
    background-color: var(--secundario);
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
/*Navegacion principal-fin*/

/*Hero*/
.hero{
    background-image: url(../imagenes/Fondo_principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p{
    color: var(--blanco);
}
/*Hero-fin*/

/*Servicios*/
.servicios{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    gap: 5rem;
}


.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio p{
    text-align: justify;
    line-height: 2;
}

.servicio .iconos{
    width: 15rem;
    height: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}