.nav__iconoMenu {
    cursor: pointer;
    display: grid;
    margin: 0 auto 0 auto;
    width: fit-content;
    border-radius: 0 0 1rem 1rem;
    place-content: center;
    background-color: var(--cajas);
    z-index: 2;
    padding: 0.5rem;
    padding-top: 2rem;
}

.nav__iconoMenu-logo1 {
    z-index: 5;
}


.icono {
    color: white;
    font-size: 3rem;
}

 
@media (min-width: 700px) {
    .nav__iconoMenu {
        display: none;
    }

}