*{
    margin: 0;
    padding: 0;
}

:root{
    --fondo-primario: #00796B;
    --fondo-secundario: #FFC107;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--fondo-primario);
}

main{
    display: grid;
    place-items: center;
}

section{
    place-items: center;
}


.opciones{
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    margin-bottom: 5rem;
    padding: 2rem;
    gap: 2rem;   
}

.opciones img{
    width: 20rem;
}

.respuesta{
    display: grid;
    grid-template-columns: repeat(2, 25rem);
}

.respuesta img{
    width: 20rem;
}