*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 5rem;
}

.hero{
    max-height: fit-content;
    display: grid;
    margin: auto 0 ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(10px, 400px);
    gap: 2rem;
    border-bottom: 1px solid #ddd;
    background-color: hsla(0, 100%, 49%, 0.2);
}

.hero .info{
    margin-left: 2rem;
    align-self: center;
}

.hero .info h1{
    color: #333;
    font-weight: bolder;
    font-size: 3rem;
}

.hero .info p{
    color: #333;
    font-size: 1.8rem;
    margin: 2rem 0;
}

.hero .info button{
    border: none;
    border-radius:  20px;
    margin: 0 10rem;
    color: #333;
    background-color: #fb8c00;
    font-weight: bolder;
    padding: 12px 24px;
    box-shadow: inset 0.5rem 0.5rem 1rem white;
}

.hero img{
    place-self: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dish{
    border-bottom: 1px solid #ddd;
}

.dish h2{
    color: #333;
    font-size: 3.3rem;
    text-align: center;
    margin: 2rem 0;
}

.dishes{
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 200px));
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "U U Tu Cu"
    "U U Td Cd";
    justify-content: center;
    margin: 3rem 0;
    gap: 5rem;
}

.dishes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.v{
    grid-area: U;
}

.d1{
    grid-area: Tu;
}

.d2{
    grid-area: Td;
}

.d3{
    grid-area: Cu;
}

.d4{
    grid-area: Cd;
}

.menu h2{
    color: #333;
    font-size: 3.3rem;
    text-align: center;
    margin-top: 10rem;
}

.menu-grid{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(5, minmax(50px, 250px));
    /*grid-template-rows: minmax(1px, 250px);*/
    gap: 2rem;
    margin: 2rem 0;
}

.menu-grid .menu-img{
    background-color: hsla(0, 100%, 49%, 0.2);
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.menu-grid .menu-img:hover{
    box-shadow: -1rem 1rem 1rem #333;
}

.menu-grid .menu-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    place-self: center;
}