*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 4rem;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

p{
    margin: 5rem 0;
}

a{
    color: aliceblue;
    text-decoration: none;
}

#home{
    display: inline-block;
    background-color: blue;
    border-radius: 100%;
    background: linear-gradient(to right, blue, black,blue);
    animation: quieto 5s infinite;
    
}

#home p{
    background-color: blue;
    border-radius: 100%;
    padding: 5rem;
    margin: 1rem;
    animation: giro 5s infinite;
}

@keyframes giro{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(359deg);
    }
}

@keyframes quieto{
    from{
        transform: rotate(359deg);
    }
    to{
        transform: rotate(0deg);
    }
}