/*Globales*/
*{
    margin: 0;
    padding: 0;
}

:root{
    /*Colores fondos*/
    --fondo-principal: #262626;
    --cajas: #1C1C1A;
    --sombra1: #a9a9a9;
    --sombra2: #1C1C1A;
    --contenedor-fantasma: transparent;
    /*Colores Textos*/
    --Texto-enfocado: #ffffff;
    --texto-desenfocado: #a9a9a9;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

/*Body*/
body{
    background-color: var(--fondo-principal);
    font-size: 16px;
    font-family: sans-serif;
}


@media (min-width: 700px) {
    body{
        background-image: url(imagenes/fondoc1.jpeg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
    }
}


/*Header*/
.header{
    background-color: var(--cajas);
    display: grid;
    place-content: center;
    height: 7rem;
    box-shadow: 0 0.2rem 0.9rem var(--sombra1);
    z-index: 50;
    position: relative;
}

.header__titulo{
    font-size: 1.8rem;
    color: var(--Texto-enfocado);
    text-shadow: 0 0 0.9rem var(--sombra1);
}

/*Menu*/
.nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    place-content: center;
}

.nav__opciones{
    width: 100vw;
    background-color: var(--fondo-principal);
    /* height: 2rem; */
    display: none;
    padding: 1rem 0;
    place-items: center;
    box-shadow: 0 0.2rem 0.9rem var(--sombra2);
    z-index: 4;
}

.nav__opciones a{
    text-decoration: none;
    color: var(--texto-desenfocado);
    margin: 1rem 0;
}

.nav__iconoMenu{
    cursor: pointer;
    display: grid;
    margin: 0 auto 0 auto;
    width: fit-content;
    border-radius: 0 0 1rem 1rem;
    place-content: center;
    background-color: var(--cajas);
    z-index: 2;
}

.nav__iconoMenu-logo1, .nav__iconoMenu-logo2{
    z-index: 5;
}

.nav__iconoMenu .nav__iconoMenu-logo2{
    display: none;    
}

/*Menu dispositivos grandes*/
@media (min-width: 700px) {
    .nav__iconoMenu{
        display: none;
    }

    .nav__opciones{
        height: 5rem;
        display: flex !important;
        flex-direction: row;
        justify-content: end;
        text-align: center;
    }

    .nav__opciones a{
        margin: 0 2rem;
        padding: 1rem;
    }

    .nav__opciones a:hover{
        background-color: var(--cajas);
        border-radius: 1rem;
        box-shadow: 0 0 0.9rem #a9a9a9;
    }
}

/*Fondo principal inicia con el fondo de mobile*/
.main{
    background-image: url(imagenes/fondoc1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: grid;
    place-content: center;
}

.main-ajustar{
    opacity: 1;
    color: var(--texto-desenfocado);
    font-size: 2.4rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-content: center;
}


/*Texto de fondo en mobil*/
.uno::after{
    content: "Desarrollador";
}

.dos::after{
    content: "Frond-End";
}

.main__section{
    margin-top: 0rem;
    opacity: 0;
    transition: margin 1s, opacity 1s;
}

.main__contactar-visible{
    display: none;
    background-color: red;
}

/*Animacion para dispositivos mayores*/
@media (min-width: 700px) {
    .main-ajustar{
        transition: margin 4s, opacity 1s;
        font-size: 3rem;
        display: flex;
        align-items: center;
    }
    
    .main-ajustar p{
        display: inline-block;
    }

    /*Contenedor contactar*/
    .main__contactar-visible{
        width: 80vw;
        min-height: 25rem;
        background-color: var(--contenedor-fantasma);
        box-shadow: 0 0 0.9rem var(--sombra1);
        grid-template-columns: repeat(2,1fr);
        place-content: center;
    }

    .main__contactar-visible p a{
        color: var(--texto-desenfocado);
        font-weight: 900;
        text-decoration: none;
    }
}

/*Footer*/
.footer{
    width: 100vw;
    position: absolute;
    background-color: var(--cajas);
    bottom: 0;
    text-align: center;
    color: var(--Texto-enfocado);
    z-index: 50;
}

.footer__logos{
    transition: all 1s;
    height: 0;
}

.footer__logos-ajustar{
    transition: all 1s;
    display: none;
    grid-template-columns: repeat(2,1fr);  
    gap: 2rem 1rem;
}


@media (min-width: 700px) {
    .footer__logos{
        display: flex;
        justify-content: space-around;
        margin: 1rem 15rem;
        height: fit-content;
    }

    .footer__logos-ajustar{
        display: flex;
        justify-content: space-around;
        width: 100vw;
    }

    .footer__logos-ajustar #github{
        display: none;
    }
    
    .footer__derechos{
        margin-top: -5rem;
        color: var(--texto-desenfocado);
        position: absolute;
        font-style: italic;
        margin: -5rem 10vw 0 10vw;
    }
}