*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
     /*Todos los colores*/
        --fondo-de-pagina: #3f4e6a;
        --sombras-de-cajas: #bceeff;
        --cajas: #12192a;
        --tarjetas: white;
        --border-img:#F0F3F4;
        --border-img-hover:black;
        /*colores de texto*/
        --titulos: #030399;
        --texto:  #ffffff;
        --sombra-texto: #ffffff;
    /*tamaños de texto*/
        --tamanio-titulos-main: 2rem;
        --tamanio-p-main: 2rem;
        --tamanio-ul-main: 2rem;
    /*fuente de letra*/
        --fuente-titulos-main: Sans-serif;
        --fuente-p-main: Sans-serif;
        --fuente-ul-main: Sans-serif;
    }

body{
    /*background-image: url("https://picsum.photos/200");
    background-repeat: no-repeat round;
    background-size:cover;*/
    background-color: var(--fondo-de-pagina);
    color: var(--texto);
    text-shadow: 2px 2px 4px white;
    text-shadow: none;
    font-family: sans-serif;
}

header{
  display: none;
  text-transform: capitalize;
  text-align: center;
}

main{
  display: none;
}

#preload{
  width: 100vw;
  height: 100vh;
  font-size: 2.4rem;
  color: white;
  background-color: var(--cajas);
  display: grid;
  place-content: center;
  z-index: 10;
  /*animation: preload 1s 2;*/
}

#preload p{
  cursor: pointer;
  margin-bottom: 10rem;
}

#flecha{
  width: 10rem;
  cursor: pointer;
  justify-self: center;
}



@keyframes preload{
  from{
    opacity: 1;
  }

  to{opacity: 0.2;
  }
}


header h1{
  background-color: var(--cajas);
    color: var(--texto);
    box-shadow: 0px 1px 15px #aaaaaa;
    border-style: none none solid none;
    border-color: white;
    border-width: 0.005px;
    padding: 2rem 1rem;
    text-shadow: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

header h2{
    margin: 1rem;
    color: var(--titulos);
    text-shadow: 1px 1px 5px var(--sombra-texto);
    font-size: 2.4rem;
  }
  
  header .header__presentacion{
    margin-top: 8rem;
  }
  
  .header__presentacion__img{
    width: 25rem;
    padding: 0rem;
    margin: auto;
}

.header__presentacion__img img{
    width: 100%;
    border-radius: 2.4rem;
    opacity: 0.8;
  }
  
  .header__presentacion__img img:hover{
  opacity: 1;
}

figurecaption{
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--titulos);
    text-shadow: 1px 1px 5px var(--sombra-texto);
  }
  

  #opciones{
    display: none;
  }

  .cont-menu{
    position: absolute;
    top: 0rem;
    display: grid;
    width: 98vw;
    padding: 0 1rem;
  }

  #menu{
    opacity: 0.5;
    width: 6rem;
    height: 6rem;
    place-self: end;
  }

  #menu:hover{
    opacity: 1;
  }

  #opciones{
    margin: 2rem auto;
  }
  
  #opciones ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
  gap: 5px;
}

#opciones ul li{
  padding: 2rem;
  border-radius: 2rem;
  place-self: center;
  font-size:large;
  cursor: pointer;
  list-style: none;
  text-transform: capitalize;
  }

  @media only screen and (max-width: 550px) {
    .menu nav ul li{
      font-size: small;
    }
  
  }

.main__section{
  display: none;
  background-color: var(--cajas);
  padding: 2rem 0;
  margin: 2rem 1rem;
  border-radius: 2rem;
}

#objetivo{
  display: block;
}

.main__section h2 {
    color: var(--titulos);
    font-size: 3rem;
    text-align: center;
    margin: 1.6rem 0;
    text-transform: capitalize;
    text-shadow: 1px 1px 5px var(--sombra-texto);
  }
  
  .main__section p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 1.2rem 1.6rem;
  }
  
  .main__section h3 {
    color: var(--titulos);
    font-size: 2.4rem;
    margin-left: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--texto);
    font-size: 2rem;
    text-shadow: 2px 2px 4px white;
    text-shadow: none;
    margin-top: 2rem;
  }
  
  .flip-card a{
    color: #08a9ff;
    text-shadow: 2px 2px 4px #000000;
    text-shadow: none;
    font-weight: bolder;
  }

  .main__section ul li {
    font-size: 1.8rem;
    margin: 1rem 4rem;
    list-style: none;
    text-align: left;
    list-style: square;
  }


.experiencia ul li{
    list-style:square;
}

/*inicia prueba*/
.cursos-terminados {
    max-width: 100vw;
    min-height: 400px;
    display: flex;
    background-color: transparent;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }

  .cursos-terminados li {
    font-size: 2.4rem;
    color: var(--texto);
    list-style: none;
    text-align: center;
    text-transform: capitalize;
  }

  .cursos-terminados img {
    width: 100%;
    height: 100%;
    border-radius: 5rem;
  }

  #ipnFPC {
    height: 100%;
  }

  .flip-card {
    background-color: transparent;
    min-width: 25rem;
    height: 25rem;
    perspective: 1000px;
    scroll-snap-align: center;
  }

  .flip-card-inner {
    background-color: transparent;
    position: relative;
    width: 90%;
    height: 90%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: none;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    color: var(--texto);
  }

  .flip-card-back {
    background-color: var(--tarjetas);
    color: var(--texto);
    height: 100%;
    transform: rotateY(180deg);
    border-radius: 5rem;
  }

  .flip-card-back span {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: var(--texto);
    text-shadow: none;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .flip-card-back:hover {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }

  .contenedor-mas{
    background-color: #3f4e6a;
    display: grid;
    place-content: center;
    min-width: 23rem;
    height: 225px;
    scroll-snap-align: center;
    border-radius: 5rem;
    margin-right: 1rem;
  }

  .contenedor-mas p a{
    font-size: 3.8rem;
  }

/*fin de la prueba*/

  /* footer*/

  
  footer a{
      list-style: none;
      color: var(--texto);
      text-decoration: none;
      font-size: 1.3rem;
      text-shadow: none;
}

footer{
    margin-top: 2rem;
    background-color: var(--cajas);
    display: grid;
    display: none;
    bottom: 0;
    width: 100%;
    height: auto;
    position: relative;
    text-shadow: none;
    color: var(--texto);
    padding: 0 1rem;
}

footer .footer__datos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 0rem;
}

footer .footer__datos span{
    color: var(--texto);
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-top: 1rem;
  }
  
  footer .footer__datos ul{
    align-items: center;
    text-align: left;
    margin: 0 auto;
  }
  footer .footer__datos ul li{
    color: var(--texto);
    font-size: 1.3rem;
    list-style: none;
    margin: auto;
    text-transform: capitalize;
    text-shadow: none;
}


.tecnologias p{
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0;
}

.img-tecnologias{
  width: 3rem;
}

.tecnologias ul{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  place-content: center;
}

.tecnologias li{
  font-size: 1.1rem;
  list-style: none;
  display: inline-block;
}

footer .footer__derechos{
    font-size: 1.2rem;
    margin-top: 2rem;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: var(--texto);
}