/*Globales*/
*{
    margin: 0;
    padding: 0;
}

:root{
    /*Colores fondos*/
    --fondo-principal: #262626;
    --cajas: #1C1C1A;
    --sombra1: #a9a9a9;
    --sombra2: #1C1C1A;
    /*Colores Textos*/
    --Texto-enfocado: #ffffff;
    --texto-desenfocado: #a9a9a9;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html{
    font-size: 62.5%;;
    box-sizing: border-box;
}

/*Body*/
body{
    background-color: var(--fondo-principal);
    font-size: 16px;
    font-family: sans-serif;
}

/*Header*/
.header{
    background-color: var(--cajas);
    display: grid;
    place-content: center;
    height: 10rem;
    box-shadow: 0 0.2rem 0.9rem var(--sombra1);
    z-index: 50;
    position: relative;
}

.header__titulo{
    font-size: 2.6rem;
    color: var(--Texto-enfocado);
    text-shadow: 0 0 0.9rem var(--sombra1);
}

/*Menu*/
.nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    place-content: center;
}

.nav__opciones{
    width: 100vw;
    background-color: var(--fondo-principal);
    height: 11rem;
    display: none;
    place-items: center;
    box-shadow: 0 0.2rem 0.9rem var(--sombra2);
    z-index: 4;
}

.nav__opciones a{
    text-decoration: none;
    color: var(--texto-desenfocado);
}

.nav__iconoMenu{
    cursor: pointer;
    display: grid;
    margin: 0 auto 0 auto;
    width: fit-content;
    border-radius: 0 0 1rem 1rem;
    place-content: center;
    background-color: var(--cajas);
    z-index: 2;
}

.nav__iconoMenu-logo1, .nav__iconoMenu-logo2{
    z-index: 5;
}

.nav__iconoMenu .nav__iconoMenu-logo2{
    display: none;    
}

/*Menu dispositivos grandes*/
@media (min-width: 500px) {
    .nav__iconoMenu{
        display: none;
    }

    .nav__opciones{
        height: 8rem;
        display: flex !important;
        flex-direction: row;
        justify-content: end;
        text-align: center;
    }

    .nav__opciones a{
        margin: 0 2rem;
        padding: 2rem;
    }

    .nav__opciones a:hover{
        background-color: var(--cajas);
        border-radius: 1rem;
        box-shadow: 0 0 0.9rem #a9a9a9;
    }
}

/*Fondo principal inicia con el fondo de mobile*/
.main{
    display: grid;
    place-content: center;
    background: transparent;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.main .main-ajustar{
    text-align: center;
    font-size: 3.6rem;
    color: var(--texto-desenfocado);
    font-weight: 900;

}

@media (min-width: 500px) {
    .main{
        background-image: url(imagenes/fondoc1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/*Texto de fondo en mobil*/
.uno::after{
    content: "Desarrollador";
}

.dos::after{
    content: "Frond-End";
}


/*Footer*/
.footer{
    width: 100vw;
    position: absolute;
    background-color: var(--cajas);
    bottom: 0;
    text-align: center;
    color: var(--Texto-enfocado);
    z-index: 50;
}

.footer__logos{
    display: none;
    justify-content: space-around;
    margin: 2.5rem 15rem;
}

@media (min-width: 500px) {
    .footer__derechos{
        display: none;
    }

    .footer__logos{
        display: flex;
    }    
}